@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    min-height: 100vh;
    color: #174da3;
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 550px;
    max-height: 330vh;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 16px 22px -17px #292C35;
    border:10px solid #333;
    /* background-image: url(images/face.jpg); */
    background-repeat: no-repeat;
    background-position: cover;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
    align-items: center;
    position: relative;
}
ul {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding: 0;
    border: 2px solid black;
    border-radius: 30px;
    word-wrap: break-all;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 16px 10px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    
}
ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: contain;
    background-position: center;
    top: 12px;
    left: 8px;
}   
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(images/checked.jpg);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 40%;
}
ul li span:hover {
    background: #edeef0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;   
    transition: 0.2s linear;
}

body.dark {
    background-color: #191919;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    display: flex;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 50px;
    height: 26px;
    transform: scale(1.5);
    float: inline-end;      
    
}

.ball {
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
.fa-eye {
    margin-left: -30px;
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5dc;
}
#time {
    display: flex;
    gap: 40px;
    color: #002765;
    float: right;
    margin-right: 100px;
    line-height: 50px;
    color: #fff;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}
#time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}
#time div span {
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.4em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
}
#time .ap {
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}
.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.dots::before {
    content: '';
    top: -3px;
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
@media screen and (min-width: 240px) {

}

@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 768px) {
    
}



